<script>
    export let bookmark;
</script>

<style>
    li {
        margin: 0.5rem 0.5rem 0.5rem 0;
    }
    li a {
        display: flex;
        flex-direction: row;
    }
    .icon {
        display: block;
        width: 16px;
        height: 16px;
        margin-right: 0.2rem;
    }
    .label {
        width: 120px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>

<li>
    <a href={bookmark.url} target="_blank">
        <img
            class="icon"
            alt="Icon"
            src={`https://www.google.com/s2/favicons?domain=${bookmark.url}`}
            width="120"
            height="120" />
        <span class="label">{bookmark.title}</span>
    </a>
</li>
