<script>
    export let folder;
    export let direction;
    import { children } from "svelte/internal";
    import Bookmark from "./Bookmark.svelte";
</script>

<style>
    ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        list-style: none;
        margin: 0 1rem 0 0;
        padding: 0;
    }
</style>

{#if folder.children.length > 0}
    <div>
        <h2>{folder.title}</h2>
        <ul style={`flex-direction: ${direction ? direction : 'column'}`}>
            {#each folder.children as child}
                {#if child.url}
                    <Bookmark bookmark={child} />
                {/if}
            {/each}
        </ul>
    </div>
{/if}
