<script>
    import Search from "./Search.svelte";
    import { folders } from "./stores.js";
    import TopSites from "./TopSites.svelte";
    import Folder from "./components/Folder.svelte";
    let data;
    chrome.bookmarks.getTree(tree => {
        data = tree[0];
    });
</script>

<style>
    main {
        padding: 1em;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }
</style>

<main>
    <TopSites />
    <div>
        {#if $folders}
            {#each $folders as folder}
                <Folder {folder} direction="row" />
            {/each}
        {/if}
    </div>

    <!-- {#if data}
        {#each data.children as dir}
            <Folder folder={dir} />
        {/each}
    {/if} -->
</main>
