<script>
    import { bind } from "svelte/internal";

    import Bookmark from "./components/Bookmark.svelte";

    let query;
    let data;

    const search = event => {
        const query = event.currentTarget.value;
        chrome.bookmarks.search(query, result => {
            data = result;
        });
    };
</script>

<style>
</style>

<div>
    <input bind:value={query} on:keyup={search} />
    {#if data}
        <ul>
            {#each data as item}
                <Bookmark bookmark={item} />
            {/each}
        </ul>
    {/if}
</div>
