<script>
    import Folder from "./components/Folder.svelte";
    let data = { title: "Top Sites", children: [] };
    chrome.topSites.get(topSites => {
        data.children = topSites;
    });
</script>

<style>
</style>

{#if data}
    <Folder folder={data} />
{/if}
